<a href="https://colab.research.google.com/github/Stuti-2004/ENDG_233/blob/main/ENDG_233_ALS2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ALS-2 Variables and Expressions**
Stuti Garg
September 14 2022

Python is a scripting language
A script = the documnet/ list of sequential commands
interpreter = interpretted line by line vs. a compiled language which uses a compiler
Open source = everyone can contribute to it (libraries)

P1. Write a flowchart and python program, for displaying the first 10 numbers for the fibonacci sequence.

In [ ]:
# Initial Values
n1 = 0
n2 = 1
i = 2

# Loop through the sequence
print("The Fibbonaci Sequence")
while i < 11:
  nt = (n1+n2)
  n1 = n2
  n2 = nt

  #Print out values
  print(f"F{i}",":",n1)
  i = i + 1

The Fibbonaci Sequence
F2 : 1
F3 : 1
F4 : 2
F5 : 3
F6 : 5
F7 : 8
F8 : 13
F9 : 21
F10 : 34

P2. Write an algorithm and python program to convert temperature from degree Celsius to Fahrenheit by using the formula. (F=9/5*C+32).

In [ ]:
# Takes input in celsius
C = int(input("What is the temp in C: "))

# Applies formula to convert to F
F = (9/5) * C + 32

# Prints results
print(F, "degrees F")

What is the temp in C: 65
149.0 degrees F

P3. Evaluate the following numerical expressions in your head, then use the Python interpreter to check your results for print(x). Do you get any error in either of these? If yes which expression and why?
1. x= '55'+'5'
> Will output '555'
2. x= '786' * 3
> Will output 786786786
3. x= '35' +12
> Error = Because the 35 is in quotes, the computer recognizes it as a string and therefore cannot add it to the integer 12
4. x= 2**15
> Prints out 2 ^ 15 = '32768'
5. x= 8 % 6
> Prints the remainder after 8 is divded by 6 = 2
6. x=0 / 20
> Prints 0 / 20 as a float = 0.0
7. x= 20 % 0
> Error = Cannot divide by the number 0

P4. Answer the following questions
1. What is the output of print(type("40.3"))? ***String***

2. What is the output of type(range(5))? ***Range***

3. What is the output of print(type({})) and why? ***Class = dict***


4. What is the output of the following code print(bool(0),bool(3.14159),bool(-30.2),bool(1.0+2j))and why? ***False True True True*** **Bool is checking for whether the term is true or false (valid/ not); therefore any term that is not 0 or null will return a true value**

5. Which of the following are valid names for a variable: a) ALS_assignment_! ***b) als_Assign*** c)ALS assignment ***d) als_Assignment_1***

6. What is the output of the following code snippet and why?
x = 'ALS_ASSIGNMENT'
print(id(x)) ***140215922849776*** ***Id refers to the memory location, or the address that the variable x is stored in the computer memory***

In [ ]:
set1 = {1,2,3}
set2 = {3,4,5}

new_set = set.union(set1, set2)
print(new_set)

{1, 2, 3, 4, 5}


P5. Do the participation activities of Zybook 1.8.1 to 1.8.7 given here
1. Select the statement that prints the following: Welcome! (a) print(Welcome!) (b)
print('Welcome!") **(c)print('Welcome!')**

2. Type a statement that prints the following: Hello
```
Print("Hello")
```

3. Write the simplest statement that prints the following: " 3 2 1 Go!"
```
Print('" 3 2 1 Go!"')
```

4. Given the variable num_cars = 9, which statement prints 9? ***(a)print(num_cars)***
(b)print("num_cars")


5. Write a statement that prints the value of the variable num_people.
```
Print(num_people)
```
6. The variables country_population = 1344130000 and country_name = 'China' have been defined and can be used for printing.
Try printing the following output:
The population of China was 1344130000 in 2011.

```
country_population = 1344130000
country_name = 'China'
print("The population of", country_name, "was", country_population, "in 2011")
```

7. Assume variable age = 22, pet = "dog", and pet_name = "Gerald".
a)What is the output of print('You are', age, 'years old.') ***You are 22 years old.***
b)What is the output of print(pet_name, 'the', pet, 'is', age) ***Gerald the dog is 22***